* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('../photo/BackGround.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 16px;
}

.logo {
    font-weight: bold;
    font-size: 25px;
    margin-left: 150px;
    margin-top: 20px;
    cursor: pointer;
    
}

nav ul {
    display: flex;
    gap: 20px;
    margin-right: 150px;
    margin-top: 25px;

    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20%;
}

.content h1 {
    font-size: 46px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;


}

.button:hover {
    background-color: white;
    color: #333;
}

